html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: 100% #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
     }

table {
    width: 370px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;

}

/*Makes the whole screen darker and non reactive(still able to restart upon click), except the modal*/
#peel {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,30,0.899);
    /* background: linear-gradient(to right, rgba(50,0,50,0.5), rgba(150,0,150,0.5)); */
}

#modal {
    z-index: 3;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFF;
    width: 100%;
    height: 16%;
    background-color: lightgrey;
    margin: auto auto;
    position: fixed;
}

#modal h1 {
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px;
    background: linear-gradient(90deg, #02ccba 0%, #aa7ecd 100%);
}
/* 
#modal p {
    background: linear-gradient(90deg, #02ccba 0%, #aa7ecd 100%);
    position: relative;
    display: flex;
    width: 100%;
}
 */

/* .center-string {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}
 */
#msg {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    align-self: center;
    background: linear-gradient(90deg, #02ccba 0%, #aa7ecd 100%);
    margin: 20px 0 0 0;
    padding: 10px;
    width: 100%;
    position: relative;    
    font-size: 2.5em;
    text-align: center;


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.difficulty-title {
    padding-top: 23px;
}

/*
 * Styles for the deck of cards
 */

.choose-difficulty {
    width: 500px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 30px 0;
    border-radius: 8px;
}

.buttons-row {
    height: 1.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.hands {
    visibility: hidden;
    color: #ff00Bf;;
    font-size: 25px;
    font-weight: bold;
}

.buttons-flex {
    display: flex;
}

.choose-difficulty button {
    border-radius: 8px;
    width: 100px;
    height: 35px;
    color: #FFF;
    background-color: #3C384D;
    box-shadow: rgba(46, 61, 73, 0.5);
}

.choose-difficulty button:active {
    background-color: #ff00Bf;
    height: -100px;
}

.deck {
    /* z-index: 1; */
    width: 660px;
    min-height: 680px;
    font-family: 'Coda', cursive;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    margin: 15px;
    background: linear-gradient(160deg, #3C384D 0%, #ffffff 450%);
    font-size: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    animation: flash-light-gry 0.3s;
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
    animation: flash-grn 0.3s;
}

.deck .card.show {
    font-size: 30px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 30px;
    animation: flash-pnk 0.5s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 10px;
}

.score-panel .stars {
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.moves {
    padding-left: 5px;
    float: left;
}

.score-panel .restart {
    display: inline-block;
    cursor: pointer;
}

.restart {
    margin-bottom: 3px;
}

.fa-repeat {
    font-size: 25px;    
}

.time-container {
    width: 85px;
    float: right;
    display: inline-block;
}

#time-counter {
    float: left;
}

/* 
Modify colors for the symbols displayed in the cards
 */

.fa-diamond {
    color: gold;
}

.fa-paper-plane-o {
    color: #F5ECCE;
}

.fa-anchor {
    color: darkblue;
}

.fa-bolt {
    color: purple;
}

.fa-cube {
    color: yellow;
}

.fa-leaf {
    color: lightgreen;
}

.fa-bicycle {
    color: orange;
}

.fa-bomb {
    color: black;
}

.fa-globe {
    color: blue ;
}

.fa-fighter-jet {
    color: grey;
    font-weight: bold;
}

.fa-heart {
    color: rgba(255,0,0,1);
}

.fa-gift {
    color: pink;
    font-weight: bold;
}


/* 
Animations
 */

.hand-dancing {
    color: #ff00Bf;
    animation: dance 1s;
}
 
.blink-1 {
    animation: blink 1.9s;
}

.blink-2 {
    animation: blink 0.6s;
}

.blink-3 {
    background-color: rgba(255,0,0,0.8);
    opacity: 0.9;
    box-shadow: rgba(255,0,0,1) 1px 1px 13px 3px;
    border-radius: 4px;
    padding: 3px;
    animation: blink-end 2s;
}

@keyframes dance {
    15% {

    }
    100% {
        line-height: 0.6em;
    }

}

@keyframes flash-light-gry {
    0% {
        background-color: #e36153;
        transform: matrix(-0.866, -0.5, 0.5, 0.866, 0, 0);
    }
    100% {
        background: #e36153;
        transform: translate(0,0);
    }
}

@keyframes flash-grn {
    0% {
        background-color: #3c384d;
    }
    100% {
        background-color: #02ccba;
        transform: rotateX(360deg);
    }
}

@keyframes flash-pnk {
    0% {
        background-color: #00Bfff;
    }
    100% {
        background-color: #ff00Bf;
        transform: rotateY(360deg);
    }
}

@keyframes blink {
    0% {
        background-color: rgba(255,0,0,1);
        box-shadow: 0 0 10px 3px rgba(255,0,0,1);
        opacity: 1;
    }
    100% {
        background-color: #FFF;
        opacity: 1;
    }
}

@keyframes blink-end {
    0% {
        background-color: #FFF;
        box-shadow: #FFF 1px 1px 13px 3px;
    }
    100% {
        box-shadow: rgba(255,0,0,1) 1px 1px 13px 3px;

    }
}